<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Worldo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
				<key>dateExpires</key>
				<string>2027/6/18</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppCheckCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>12.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>12.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>12.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>12.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>12.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>12.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>101.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sign_in_with_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F91BEA94BC311C30BC2279FA78CB3270E02972A</string>
						<key>dateExpires</key>
						<string>2027/6/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7RDMYH5DR</string>
						<key>name</key>
						<string>All Football Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R7RDMYH5DR.com.worldo.ai</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>R7RDMYH5DR</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>54092168-d9e4-4a9f-acc0-a8a12ea4cf93</string>
				<key>dateExpires</key>
				<string>2027/6/18</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.worldo.ai</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R7RDMYH5DR</string>
				<key>name</key>
				<string>All Football Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1.0</string>
		</dict>
	</array>
</dict>
</plist>
