<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876583138986-igmuf8cnqkqfau2k4k30bamjn6482u2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876583138986-igmuf8cnqkqfau2k4k30bamjn6482u2j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>876583138986-nvcoc677sr0p0hc596l6ruvshp5vk20r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALlciGqixA9I_uXrd5OmmmVKaixy9l7Zk</string>
	<key>GCM_SENDER_ID</key>
	<string>876583138986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.worldo.ai</string>
	<key>PROJECT_ID</key>
	<string>worldo-2026</string>
	<key>STORAGE_BUCKET</key>
	<string>worldo-2026.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876583138986:ios:02e208cd9d4aa561e902d3</string>
</dict>
</plist>